<!DOCTYPE html>
<html lang="en" ng-app="grooves-app">
<head>
  <meta charset="utf-8">

  <title>Ng Auth Lab</title>
  <meta name="description" content="An introduction to token-based auth.">
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style>
  </style>

</head>
<body ng-controller="MainController as vm">
    <header class=" container-fluid navbar">
      <h1>Grooves!</h1>
      <button class="loginSignUp" ng-click="vm.signUp = !vm.login">Sign Up</button>
      <button class="loginSignUp" ng-click="vm.login = !vm.signUp">Login</button>
    </header>
    <main>
      <form id="user" class="pure-form center" ng-show="vm.signUp && !vm.login" ng-submit="vm.createUser()">
        <h4>Create User Below</h4>
        <fieldset class="pure-group center">
          <input type="email"           ng-model="vm.user.email" class="email" placeholder="user@domain.com">
          <input type="password"        ng-model="vm.user.password" class="password" placeholder="secretpassword"> <br><br>
          <a class="btn btn-danger" ng-click="vm.signUp = false">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>

      <form id="token" class="pure-form center" ng-show="vm.login && !vm.signUp" ng-submit="vm.logInUser()">
        <h4>Log In User</h4>
        <fieldset class="pure-group center">
          <input  type="email"           ng-model="vm.auth.email"     ng-disabled="vm.auth.isLoggedIn" class="email" placeholder="user@domain.com">
          <input  type="password"        ng-model="vm.auth.password"  ng-disabled="vm.auth.isLoggedIn" class="password" placeholder="secretpassword"> <br><br>
          <a class="btn btn-danger"      ng-click="vm.login = false">Cancel</a>
          <button type="submit"          ng-hide="vm.auth.isLoggedIn" class="btn btn-primary">Submit</button>
          <button type="button"          ng-show="vm.auth.isLoggedIn" ng-click="vm.auth.logOut()"      class="btn btn-danger">Log Out</button>
        </fieldset>
      </form>

    </main>

  <script src="/js/app/grooves.module.js"></script>
  <script src="/js/app/grooves.config.js"></script>
  <script src="/js/app/token.service.js"></script>
  <script src="/js/app/tokenSigning.service.js"></script>
  <script src="/js/app/auth.service.js"></script>
  <script src="/js/app/user.dataservice.js"></script>
  <script src="/js/app/main.controller.js"></script>
</body>
</html>

