.navbar{
  padding-left: 200px;
  padding-right: 215px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background-color: #4CA1FF;
}

body {
  height: 850px;
  text-align: center;
  background-image: url(/assets/exploding-vinyl.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.loginSignUp {
  margin: 0 25px;
  height: 45px;
  width: 75px;
}

#user {
  margin: 25% auto;
  background: white;
  width: 400px;
  height: 150px;
  border: solid #4CA1FF;
}

#token {
  margin: 25% auto;
  background: white;
  width: 400px;
  height: 150px;
  border: solid #4CA1FF;
}
