.navbar{
  padding-left: 200px;
  padding-right: 215px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background-color: #4CA1FF;
}

body {
  text-align: center;
  background-image: url(/assets/wall-of-album-covers.jpg);

}

.loginSignUp {
  margin: 0 25px;
  height: 45px;
  width: 75px;
}

#user {
  margin: 15% auto;
  background: white;
  width: 400px;
  height: 150px;
  border: solid #4CA1FF;
}

#token {
  margin: 15% auto;
  background: white;
  width: 400px;
  height: 150px;
  border: solid #4CA1FF;
}

img {
  max-height: 75px;
  max-width: 75px;
}

.all-records {
  margin: 50px;
  padding: 10px;
  background-color: white;
  height: 200px;
  width: 200px;
  display: inline-block;
}
