header {
  position: absolute;
}
.navbar{
  color: lightgray;
  padding-left: 200px;
  padding-right: 215px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background-color: rgba(0,0,0,.6);
}
#navcontents a {
  display: inline-block;
}

#navcontents h1 {
  cursor: pointer;
}
#navcontents h1:hover {
  color: blueviolet;
}

#search1 {
  width: 35%;
  margin: 0 auto;
  display: inline-block;
}

#search2 {
  width: 35%;
  margin: 0 auto;
  display: inline-block;
}

#cart {
  display: inline-block;
  cursor: pointer;
}

#cart-total {
  font-size: 18px;
  display: inline-block;
}

body {
  text-align: center;
  background-image: url(/assets/wall-of-album-covers.jpg);

}

.loginSignUp {
  margin: 0 25px;
  height: 45px;
  width: 75px;
}

#user {
  margin: 10% auto;
  background: white;
  width: 400px;
  height: 150px;
  border: solid #4CA1FF;
}

#token {
  margin: 10% auto;
  background: white;
  width: 400px;
  height: 150px;
  border: solid #4CA1FF;
}


img {
  max-height: 75px;
  max-width: 75px;
}

.all-records {
  cursor: pointer;
  margin: 50px;
  padding: 10px;
  background-color: rgba(255,255,255, .7);
  height: 250px;
  width: 200px;
  display: inline-block;
  border-radius: 15px;
}
.single-record {
  cursor: pointer;
}
#single-record-view {
  text-align:left;
  border-radius: 15px;
  background-color: rgba(255,255,255, .7);
  padding: 25px;
}

#record-image {
  max-height: 300px;
  max-width: 300px;
  margin: 0 50px 0 0;
  display: inline-block;
}

#record-info {
  text-align: center;
  display: inline-block;
  max-height: 300px;
  max-width: 300px;
  position: relative;
}

#record-view-addcart {
  text-align: center;
}

.record-form {
  background-color: rgba(255,255,255, .7);
  border-radius: 25px;
  margin: 15px auto;
  max-width: 500px;
  padding: 25px;
}

.user-records {
  cursor: pointer;
  margin: 50px;
  padding: 10px;
  background-color: rgba(255,255,255, .7);
  height: 250px;
  width: 200px;
  display: inline-block;
  border-radius: 15px;
}

.add-form {
  width: 15px;
}

#cart-view {
  text-align:left;
  border-radius: 15px;
  background-color: rgba(255,255,255, .7);
  padding: 25px;
}

#cart-view h1 {
  text-align: center;
}

