header {
  position: absolute;
}
.navbar{
  color: lightgray;
  padding-left: 200px;
  padding-right: 215px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background-color: rgba(0,0,0,.6);
}

#navcontents a {
  display: inline-block;
}

#navcontents h1 {
  cursor: pointer;
}
#navcontents h1:hover {
  color: blueviolet;
}

#search1 {
  width: 35%;
  margin: 0 auto;
  display: inline-block;
}

#search2 {
  width: 35%;
  margin: 0 auto;
  display: inline-block;
}

#cart {
  display: inline-block;
  cursor: pointer;
  max-height: 75px;
  max-width: 75px;
}

#cart-total {
  font-size: 18px;
  display: inline-block;
}

body {
  text-align: center;
  background-image: url(/assets/wall-of-album-covers.jpg);

}

.loginSignUp{
  margin: 0 25px;
  height: 45px;
  width: 75px;
}


#user, #message, #token{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px; /* Negative half of height. */
  margin-left: -200px;
  padding: 15px;
  background: white;
  width: 400px;
  height: 100px;
  border: solid #4CA1FF;
}

#user, #token{
  margin-top: -75px; /* Negative half of height. */
  height: 150px;
}

.record-images {
  height: 100px;
  min-width: 100px;
}

.all-records, .user-records {
  cursor: pointer;
  margin: 50px;
  padding: 10px;
  background-color: rgba(255,255,255, .7);
  height: 250px;
  width: 200px;
  display: inline-block;
  border-radius: 15px;
}
.user-records{
  height: 300px;
}
.single-record {
  cursor: pointer;
}
#single-record-view {
  border-radius: 15px;
  background-color: rgba(255,255,255, .7);
  padding: 25px;
}

#record-page-image-and-info {
  margin: 0 auto;
  text-align: center;
}
#record-page-image-div, #record-info {
  display: inline-block;
  max-height: 300px;
  min-width: 300px;
}

#record-image {
  height: 300px;
  min-width: 300px;
}

#record-info {
  position: relative;
  top: 25px;
}

#record-page-label-and-desc {
  text-align: left;
  margin: 25px 0 0 50px;
}

#record-view-addcart {
  text-align: center;
}

.record-form {
  margin: 0 auto;
  background-color: rgba(255,255,255, .7);
  border-radius: 25px;
  max-width: 500px;
  padding: 25px;
}

.add-form {
  margin: 0 auto;
  width: 15px;
}

#cart-view {
  text-align:left;
  border-radius: 15px;
  background-color: rgba(255,255,255, .7);
  padding: 25px;
}

#cart-view h1 {
  text-align: center;
}
