<div class="all-records" ng-hide="record.hide" ng-repeat="record in vm.allRecords | filter: vm.search1 | filter: vm.search2">
  <div class="single-record">
    <img ui-sref="record" ng-click="vm.selectRecord(record)" ng-src="{{record.current_image || vm.defaulRecordImage}}">
    <p ng-bind="record.artist"></p>
    <p ng-bind="record.album || '-'"></p>
    <p ng-bind="'$' + record.price"></p>
    <p ng-bind="record.label" ng-hide="true"></p>
    <p ng-bind="record.year" ng-hide="true"></p>
    <a class="btn btn-primary" ng-click="vm.addToCart(record); record.hide=true">Add to Cart</a>
  </div>
</div>
